{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}HCH{% endblock %}</title>

    <!-- Moderna CSS -->
    <link rel="stylesheet" href="{% static 'frontend/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/vendor/glightbox/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/main.css' %}">
</head>
<body>

  {% include "partials/header.html" %}
  {% block content %}{% endblock %}
  {% include "partials/footer.html" %}

  <!-- Vendor JS Files -->
  <script src="{% static 'frontend/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'frontend/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'frontend/assets/js/main.js' %}"></script>

</body>
</html>
